html,
body {
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #28282f;
    margin: 0em;
}

body {
    margin: 0em;
    padding: 0em;
    overflow: hidden;
    font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

p,
img,
div,
canvas {
    vertical-align: top;
}

::-moz-selection {
    background: #34495e;
    background-color: #34495e;
    color: #fff;
}

::selection {
    background: #34495e;
    background-color: #34495e;
    color: #fff;
}

.hide {
    display: none;
}

#menu {
    width: 48em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.9em;
    text-align: center;
    font-size: 1.2em;
    background-color: #fff;
    opacity: 1;
    background: #ffffff;
    -webkit-box-shadow: 0em 0.25em 0.75em rgba(124, 124, 124, 0.5);
    -moz-box-shadow: 0em 0.25em 0.75em rgba(124, 124, 124, 0.5);
    box-shadow: 0em 0.25em 0.75em rgba(124, 124, 124, 0.5);
}

#menu #img_container {
    height: 14.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 0.9em;
    border-top-right-radius: 0.9em;
}

#menu #img_container img {
    flex-shrink: 0;
    width: 105%;
}

#menu #content {
    padding: 0.5em;
}

#menu #content div {
    margin-bottom: 1em;
}

#menu h1 {
    font-family: 'Oswald';
    letter-spacing: 0.25em;
}

#menu p {
    font-family: 'Lato';
    margin: 0em;
}

#menu #play_button {
    display: inline-block;
    border-radius: 0.9em;
    border: solid #48484f 0.1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.12em;
    padding-bottom: 0.12em;
    margin-bottom: 1.5em;
    transition: all 0.4s;
}

#menu #play_button:hover {
    border: solid #2323be 0.1em;
    color: #2323be;
    cursor: pointer;
    transition: all 0.4s;
}

#menu #play_button p {
    font-family: 'Oswald';
    letter-spacing: 0.125em;
    color: #48484f;
    font-size: 1.3em;
    transition: all 0.4s;
}

#menu #play_button:hover p {
    color: #2323be;
    transition: all 0.4s;
}

#background_menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0.125;
}

#centre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
}

.red {
    color: red;
}

canvas {
    width: 100%;
    height: 100%;
}

.file-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.9em;
    text-align: center;
    font-size: 1.2em;
    background-color: #fff;
    opacity: 1;
    background: #ffffff;
}

.file-container .card {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 300px;
    background-color: #ffffff;
    padding: 10px 30px 40px;
}

.file-container .card h3 {
    font-size: 22px;
    font-weight: 600;

}

.file-container .drop_box {
    margin: 10px 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px dotted #a3a3a3;
    border-radius: 5px;
}

.file-container .drop_box h4 {
    font-size: 16px;
    font-weight: 400;
    color: #2e2e2e;
}

.file-container .drop_box p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #a3a3a3;
}

.file-container .btn {
    text-decoration: none;
    background-color: #005af0;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.file-container .3s;
    display: inline-block;
}

.file-container .btn:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #005af0;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
}

.file-container .form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
}

.bid-layout {
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
}